/**
* ===========================================================
* PHOTOS LIST
* ===========================================================
*/
.photo-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 20px 0 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;

  background-color: #ffffff;

  list-style: none;
}
