/**
*===========================================================
* MAIN NAVIGATION mobile
* ===========================================================
*/
.main-nav,
.main-nav--opened {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  top: 22px;
  right: 19px;
  width: 50px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed {
  min-height: 79px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  overflow: hidden;
}

.main-nav__item {
  height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__link {
  display: block;
  padding: 30px 40px 30px 80px;

  text-align: left;
  text-decoration: none;

  color: #000000;

  &[href]:hover,
  &[href]:active {
    opacity: 0.6;
    cursor: pointer;
  }

  &[href]:disabled {
    opacity: 0.3;
    cursor: pointer;
  }
}

/**
    * ===========================================================
    * MAIN NAVIGATION tablet/desktop
    * ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__item {
    width: 20%;
  }

  .main-nav__link {
    padding: 15px 20px;
    padding-right: 16px;

    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
  }
}
