/**
* ===========================================================
* ORDER FORM
* ===========================================================
*/
.order-form {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-bottom: 36px;

  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #333333;
  font-weight: normal;

  text-transform: uppercase;
  text-align: center;
}
