/**
  * ===========================================================
  * PAGE HEADER
  * ===========================================================
*/
.page-header {
  margin: 0;
  padding: 0;
}

.page-header__top-logo {
  position: absolute;

  top: 23px;
  left: 52%;

  margin-left: -51px;

  width: 86px;
  height: 35px;

  z-index: 100;
}
/**
  * ===========================================================
  * MAIN NAVIGATION tablet
  * ===========================================================
*/

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 518px;
  }
}
/**
  * ===========================================================
  * PAGE HEADER desktop
  * ===========================================================
*/

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 518px;
  }
}
