/**
* ===========================================================
* PAGE INTRO
* ===========================================================
*/
.page-intro {
  position: relative;
  padding: 20px 25px;
  padding-bottom: 24px;

  background-color: #ffffff;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.page-intro__header {
  margin: 20px 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
}

/**
* ===========================================================
* PAGE INTRO tablet
* ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .page-intro {
    padding: 30px 100px;
    padding-bottom: 40px;
  }

  .page-intro__header {
    padding: 0 10px;
    margin-top: 20px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}

/**
* ===========================================================
* PAGE INTRO desktop
* ===========================================================
*/

@media (min-width: $desktop-max-width) {
  .page-intro {
    padding: 30px 345px;
    padding-bottom: 20px;
  }

  .page-intro__header {
    padding: 0 23px;
    margin-top: 22px;
  }
}
