/**
* ===========================================================
* PAGE INTRO
* ===========================================================
*/
.page-intro {
  position: relative;

  width: 320px;

  padding: 20px 25px;

  background-color: #f1f1f1;

  &--decorated {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.page-intro__header {
  margin: 74px 12px;
  margin-bottom: 125px;
  width: 244px;
  height: 87px;
  color: #010000;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;
}

.page-intro__liks {
  width: 320px;
  height: 105px;
}

.page-intro__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.page-intro__link {
  text-align: left;
  text-decoration: none;

  color: #ffffff;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  list-style-type: none;

  padding: 32px 18px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

/**
* ===========================================================
* PAGE INTRO tablet
* ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .page-intro {
    padding: 30px 100px;
    padding-bottom: 40px;
  }

  .page-intro__header {
    padding: 0 10px;
    margin-top: 20px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}

/**
* ===========================================================
* PAGE INTRO desktop
* ===========================================================
*/

@media (min-width: $desktop-max-width) {
  .page-intro {
    padding: 30px 345px;
    padding-bottom: 20px;
  }

  .page-intro__header {
    padding: 0 23px;
    margin-top: 22px;
  }
}
