/**
* ===========================================================
* PAGE INTRO
* ===========================================================
*/
.page-intro {
  height: 373px;

  background-color: #f1f1f1;

  &--decorated {
    margin-top: -17px;

    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  &--grey {
    height: 177px;
  }
}

.page-intro__header {
  color: #000000;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;

  &--decorated {
    margin: 0;
    padding: 88px 4px;
  }

  &--grey {
    margin: 0;
    padding-top: 71px;
  }
}

.page-intro__header--decorated br {
  display: inline;
}

.page-intro__liks {
  width: 320px;
  height: 105px;

  margin-top: -73px;
}

.page-intro__liks-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.page-intro__list-item {
  position: relative;
  color: #ffffff;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  padding: 27px 29px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.page-intro__list-item--interior::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;

  opacity: 0.5;

  top: 23px;
  right: 36px;

  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-intro__list-item--toys::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;

  opacity: 0.5;

  top: 21px;
  right: 27px;

  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-intro__list-item br {
  display: inline;
}

.page-intro__link {
  text-decoration: none;
  color: #ffffff;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}

/**
* ===========================================================
* PAGE INTRO tablet
* ===========================================================
*/

@media (min-width: $tablet-max-width) {
  .page-intro {
    padding: 30px 100px;
    padding-bottom: 40px;
  }

  .page-intro__header {
    padding: 0 10px;
    margin-top: 20px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
  }
}

/**
* ===========================================================
* PAGE INTRO desktop
* ===========================================================
*/

@media (min-width: $desktop-max-width) {
  .page-intro {
    padding: 30px 345px;
    padding-bottom: 20px;
  }

  .page-intro__header {
    padding: 0 23px;
    margin-top: 22px;
  }
}
