/**
* ===========================================================
* REVIEWS SECTION
* ===========================================================
*/
.reviews {
  padding: 17px 20px;
  padding-bottom: 48px;

  background-color: #ffffff;
}

.reviews__header {
  margin: 0;
  margin-top: 12px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__content {
  margin-bottom: 34px;
  margin-top: 19px;

  color: #444444;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__btn {
  padding-left: 0;
  padding-right: 0;

  min-width: 280px;
}

.reviews__name {
  font-weight: 700;
  line-height: 24px;
}

.reviews__email {
  font-weight: 400;
  line-height: 30px;
}
/**
* ===========================================================
* REVIEWS SECTION tablet
* ===========================================================
*/
@media (min-width: $tablet-max-width) {
  .reviews {
    padding: 39px 60px;
    padding-bottom: 57px;
  }

  .reviews__header {
    margin: 0;
    margin-top: 15px;
    padding-bottom: 8px;

    font-size: 30px;
    line-height: 26px;
  }

  .reviews__content {
    margin: 23px 0;
    padding: 0 65px 20px 65px;
  }

  .reviews__btn {
    min-width: 458px;
  }
}

/**
* ===========================================================
* REVIEWS SECTION desktop
* ===========================================================
*/
@media (min-width: $desktop-max-width) {
  .reviews {
    padding: 37px 60px;
    padding-bottom: 67px;
  }

  .reviews__header {
    margin: 0;
    margin-top: 19px;
    padding-bottom: 10px;
  }

  .reviews__content {
    padding: 0 315px 20px 315px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
