
html,
body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 250;
}

.hidden {
  display: none;
}
