$page-max-width: 1200px;
$page-min-width: 320px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-max-width: 320px;
$tablet-max-width: 768px;
$desktop-max-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
